.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  overflow: hidden;           /* нужен, чтобы .header__square-pic не вылезал за пределы
  /* выше установили ограничения для секции */
}

.logo {
  width: 228px;
  height: 32px;
  background-image: url(../images/logo_place_header.svg);
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);

}

.header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  position: relative;
  left: 64px;
  z-index: 2;
  margin: 0;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  margin: 0;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.content {
  display: flex;
  flex-direction: column;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.two-columns {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 100px;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px 0;
}

.two-columns__paragraph:last-child {
  margin: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.digits {
  display: flex;
  padding: 100px 0;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 60%;
  text-align: center;
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-title_theme_dark {
  color: white;
  z-index: 1;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
}

.table_theme_dark {
  z-index: 1;
}

.table__cell {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-top: 60px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading {
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__heading_theme_dark {
  color: white;
}

.table__text {
  margin: 0 0 20px 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text:last-child {
  margin: 0;
}

.table__text_theme_dark {
  color: white;
}

.feynman {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding-top: 100px;
  align-items: center;
  position: relative;
  height: 890px;
}

.feynman__title {
  width: 648px;
  text-align: center;
  margin: 0 0 70px 0;
  z-index: 1;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  margin: 0;
  z-index: 1;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
  margin: 0;
  z-index: 1;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__main-illustration {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.kaufman {
  display: flex;
  padding: 90px 0;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 350px;
  background-color: #1f1f1f;
  padding: 60px 0 40px 0;

}

.footer__columns {
  width: 90%;
  min-height: inherit; /* без него отображение не как в брифе*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  margin: 18px 0;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_ifo {
  display: flex;
  flex-direction: column;
}


.footer__column_content_ifo:last-child {
  margin: 0 0 16px 0;
}

.footer__column-heading {
  margin: 0 0 20px 0;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footer__column-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  text-decoration: none;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
